@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* * ---- Base Line ---- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
}

body {
  background:
    linear-gradient(to left, rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.47)),
    url('./assets/img/body.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(0.8rem);
  color: white;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

input,
textarea {
  padding: 0.5rem;
  padding-left: 0;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #eeeeeec4;
  color: white;
  margin-bottom: 0.5rem;

  &::placeholder {
    color: #eeeeeec4;
  }
}

/* * ---- Modules ---- */
.container {
  width: 90vw;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn {
  background-color: white;
  color: #433031;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: 0.1s;
  width: max-content;
  font-weight: bold !important;

  &:hover {
    background-color: #433031;
    color: white;
  }
}

.intro-text {
  text-align: center;
  font-size: 3rem;
}

/* * ---- Navbar ---- */
#menu-check {
  display: none;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.navbar {
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar a {
  padding: 0.3rem 1rem;
  box-shadow: 0 0 1px 0 white;
  cursor: pointer;
  color: white;
  transition: 0.1s;

  &:hover,
  &.active {
    outline: 1px solid #433031;
  }
}

/* * ---- Hero ---- */
.hero {
  height: 90vh;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  font-size: 140%;
  display: grid;
  gap: 0.2rem;

  * {
    font-weight: normal;
  }
}

.hero-text h1 span {
  font-weight: bold;
  text-decoration: underline;
}

.hero-text .btn {
  margin-top: 1rem;
}

.hero-img {
  width: 35rem;
  transition: .5s;
}

.hero-img:hover {
  transform: scale(1.01);
}

/* * ---- Coffee ---- */
.container.coffees {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 6rem 3rem;
  margin-top: 6rem;
  margin-bottom: 9rem;
}

.coffee-card {
  background:
    linear-gradient(to left, #433031c0, #433031b4),
    url('./assets/img/coffee-card.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  border-radius: 2px;
}

.coffee-card img {
  padding: 1rem;
  transition: 0.2s;
  transform: translateY(-30%);
}

.coffee-card:hover>img {
  transform: translateY(-30%) scale(1.05);
}

.coffee-card .detail {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-20%);
}

.coffee-card h4 {
  font-weight: normal;
}

/* * ---- Cold Cofeee ---- */
.cold-coffees,
.beans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 6rem 3rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.cold-coffee-card {
  background-color: white;
  text-align: center;
  padding: 0.2rem;
  border-radius: 2px;
  color: #433031;
}

.cold-coffee-card img {
  padding: 1rem;
  background-color: #433031ee;
}

/* * ---- Beans ---- */
.beans {
  margin-bottom: 9rem;
}

.bean-card {
  background-color: transparent;
  text-align: center;
  padding: 1rem 0.2rem;
  border-radius: 2px;
  box-shadow: 0 0 0.5rem 0 #4330319a;
  position: relative;
  color: white;
}

.bean-card img {
  transition: 0.2s;
  width: 10rem;
  transform: translateY(-40%);
}

.bean-card .detail {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-20%);
}

/* * ---- Contact ---- */
/* * ---- Footer ---- */
footer {
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-about {
  flex-basis: 30%;
}

footer h1,
footer .logo {
  margin-bottom: 1rem;
  display: block;
}

footer .socials a {
  width: 2rem;
  display: block;
  margin-top: 1rem;
  margin-right: 0.5rem;
  transition: 0.1s;

  &:hover {
    transform: scale(1.05);
  }
}


.quick-links a {
  color: #eeeeeec4;
  margin-bottom: 0.5rem;
  display: block;

  &:hover {
    color: white;
  }
}

.footer-contact {
  flex-basis: 30%;
}

.copyright {
  padding: 1rem 0;
  border-top: 1px solid #eeeeeea6;
  min-width: 100%;
  text-align: center;
}

/* * ---- Media Queries ---- */
@media screen and (max-width:992px) {
  nav {
    flex-direction: column;
    gap: 1rem;
    text-wrap: nowrap;

  }

  nav ul {
    flex-wrap: wrap;
  }
}

@media screen and (max-width:900px) {
  .hero {
    height: max-content;
    flex-direction: column-reverse;
    margin-bottom: 10rem;
  }

  .hero-img {
    width: 28rem;
  }
}

@media screen and (max-width:788px) {
  html {
    font-size: 95%;
  }

  .footer-about {
    flex-basis: 50%;
    margin-bottom: 2rem;
  }

  .footer-contact {
    flex-basis: 70%;
  }

  section:last-child {
    padding: 3rem !important;
  }
}

@media screen and (max-width:680px) {
  nav {
    width: 100% !important;
    background-color: #5f5252;
    backdrop-filter: blur(1rem);
  }

  .menu-bar {
    position: absolute;
    right: 0.5rem;
    top: 35%;
    cursor: pointer;
  }

  .menu-bar::before {
    content: '\f0c9';
    font-family: 'FontAwesome';
    font-size: 24px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    position: absolute !important;
    top: 100%;
    right: -100%;
    transition: 0.3s;
    background-color: #5f5252;
    width: 100%;
    padding: 2rem;
  }

  #menu-check:checked~.navbar {
    right: 0%;
  }

  #menu-check:checked~.menu-bar::before {
    font-size: 30px;
    content: '\f00d';
  }

  #menu-check:checked~.menu-bar {
    top: 30%;
  }

  .navbar a:hover,
  .navbar a.active {
    outline: none;
    background-color: white;
    color: #433031;
  }
}

@media screen and (max-width:550px) {
  html {
    font-size: 90%;
  }

  footer>div {
    flex-basis: 100% !important;
  }

  .hero-img {
    width: 22rem;
  }
}